# Backend Environment Variables
PORT=8000
WORKERS=4
LOG_LEVEL=info
UPLOAD_FOLDER=/app/uploads
WINDOWS_PRICES_DIR=/app/data/windows_prices.xlsx
LINUX_PRICES_DIR=/app/data/RI_linux_prices.xlsx

# Frontend Environment Variables
BACKEND_URL=http://localhost:8000
NGINX_PORT=80
