# Backend Environment Variables

# API Server Port
API_PORT=8000

# Number of Gunicorn workers
GUNICORN_WORKERS=4

# Upload folder path
UPLOAD_FOLDER=/app/uploads

# Windows prices file path
WINDOWS_PRICES_DIR=/app/data/windows_prices.xlsx

# Linux prices file path
LINUX_PRICES_DIR=/app/data/RI_linux_prices.xlsx
